/*

Custom CSS from for Inline Commands plugin

*/

.inline-cmd-suggestion {
	white-space: normal;
}

.inline-cmd-suggestion > * {
	margin-top: var(--size-4-3);
	margin-bottom: var(--size-4-3);
}

.inline-cmd-suggestion > ul,
.inline-cmd-suggestion > ol {
	padding-left: var(--size-4-6);
}

.inline-cmd-suggestion-label {
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
}

.inline-cmd-suggestion-desc {
	font-style: italic;
	margin-top: 0;
	margin-bottom: 0;
}
